<header class="site-header">
  <a class="site-header__brand" href="/">IA mercado laboral</a>
  <nav aria-label="Principal">
    <ul class="site-header__nav">
      <li><a href="#hero">Inicio</a></li>
      <li><a href="#datos">Datos</a></li>
      <li><a href="#graficos">Graficos</a></li>
    </ul>
  </nav>
</header>
